/node_modules
/vendor
.env
.env.backup
.env.production
.env.testing
.DS_Store
.phpunit.result.cache
/.phpunit.cache
/.idea
/.vscode
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/pail
/storage/debugbar
*.log
*.sqlite
